.content__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.content {
    width: 100%;
    height: 350px;
    background: #f5f5f5;
    border-radius: 20px;
}

.topName {
     font-size: 60px;
     font-weight: 600;
}

.corses__name {
    width: 100%;
    margin: 56px;
}

.courses__items {
    padding-left: 60px;
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-wrap: wrap;
}

.item {
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    color: black;
}

.item:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    border-radius: 30px;
    background-color: rgb(47, 47, 235);
    color: white;
}

.item a:hover {
    color: white;
}

.activeItem {
    background-color: rgb(47, 47, 235);
    color: white;
    border: 1px solid rgb(47, 47, 235);

}